<div class="viewInicio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!--<h4>Seleccione {{(countSet == 1) ? "destino" : "origen"}}</h4> //-->
                <div class="btn-group-vertical btn-block" role="group">
                    <button class="btn btn-default btn-block" ng-click="set('cp', 'Carlos Paz')">Carlos Paz</button>
                    <button class="btn btn-default btn-block" ng-click="set('sn', 'San Nicolas')">San Nicolas</button>
                    <button class="btn btn-default btn-block" ng-click="set('cba', 'Córdoba')">Córdoba</button>
                </div>
            </div>
        </div>
    </div>
</div>